# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '14726036-8271-4883-9f41-b071e62dca3f'
  imageRepository: 'todoappdockerimage'
  containerRegistry: 'pythontodoappdemoregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'Azure subscription 1(9da63e4d-7264-40ee-af0d-8ec7b2e419c8)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: 'az acr login --name=$(containerRegistry)'
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'Azure subscription 1(9da63e4d-7264-40ee-af0d-8ec7b2e419c8)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az container create \
          --name container1 \
          --resource-group python-todo-app-rg \
          --image $(containerRegistry)/$(imageRepository):$(tag) \
          --registry-username pythontodoappdemoregistry \
          --registry-password 6VvLv2Td5LDFJy1saf497GvdjwdrYXDklQ8eFcAn1A7bGIvdSLldJQQJ99CBACBsN54Eqg7NAAACAZCRFgCl \
          --os-type Linux \
          --cpu 1 \
          --memory 1.5 \
          --dns-name-label python-todo-app \
          --ports 80
